# Rust
target/
**/target/
Cargo.lock
**/Cargo.lock

# Solana
test-ledger/
**/test-ledger/
*.so
*.keypair.json
.anchor/
**/.anchor/

# JavaScript / Node
node_modules/
**/node_modules/
.yarn/
**/.yarn/

# IDE & OS
.vscode/
.idea/
.DS_Store
**/.DS_Store

# Temporary
**/*.rs.bk
